.page {
  height: 100dvh;
  width: 100%;
  background: linear-gradient(135deg, #818af9, #5c63d3);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.content {
  text-align: center;
  color: white;
  animation: fadeIn 1s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
