@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --foreground-secondary: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --foreground-secondary #0a0a0a: 
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-manrope), var(--font-geist-sans), Arial, sans-serif;
}

.primary-text {
  color: var(--foreground);
}

.secondary-text {
  color: var(--foreground-secondary);
}

.font-light {
  font-weight: 300;
}

.font-bold {
  font-weight: bold;
}

.page {
  height: 100dvh;
  width: 100%;
  background: linear-gradient(135deg, #818af9, #5c63d3);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.title {
  position: relative;
  top: -10rem;
}

.content {
  text-align: center;
  color: white;
  animation: fadeIn 1s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
